# Network
HOST_BIND_ADDRESS=0.0.0.0

# Komodo
DOCKER_SOCKET_PATH=/var/run/docker.sock
KOMODO_IMAGE_TAG=2
KOMODO_PORT=9120
KOMODO_BACKUPS_PATH=/srv/komodo/backups
KOMODO_DATABASE_USERNAME=komodo
KOMODO_DATABASE_PASSWORD=change-this-db-password
KOMODO_HOST=http://84.32.117.122:9120
KOMODO_WEBHOOK_BASE_URL=https://apprehend-crock-backfire.ngrok-free.dev
KOMODO_TRAEFIK_HOST=komodo.home.arpa
KOMODO_INIT_ADMIN_USERNAME=julius
KOMODO_INIT_ADMIN_PASSWORD=change-this-admin-password
KOMODO_FIRST_SERVER_NAME=home-server
KOMODO_WEBHOOK_SECRET=change-this-webhook-secret
KOMODO_JWT_SECRET=change-this-jwt-secret
PERIPHERY_ROOT_DIRECTORY=/srv/komodo/periphery
