# Portainer
DOCKER_SOCKET_PATH=/var/run/docker.sock
PORTAINER_DATA=/srv/server/portainer-data

# Plex
PLEX_PORT=32400
PLEX_CLAIM=claim-xxxxxxxxxxxxxxxxxxxx
PLEX_CONFIG_PATH=/srv/server/config/plex-media-server
TRANSCODE_PATH=/srv/server/transcode

# Plex and Transmission media root
MEDIA_PATH=/media/drive

# Transmission
TRANSMISSION_USERNAME=transmission-manager
TRANSMISSION_CONFIG_PATH=/srv/server/config/transmission
TRANSMISSION_USER_PASSWORD_FILE=/srv/server/config/transmission/transmission_user_password.txt
