services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    network_mode: host
    environment:
      - PLEX_UID=1000
      - PLEX_GID=1000
      - TZ=Europe/Vilnius
      - PLEX_CLAIM=claim-BMtUB_8d4xM8NB5Mz3yy
    volumes:
      - ./plex-media-server/config:/config
      - ./transcode:/transcode
      - ./media:/data

  transmission:
    container_name: transmission
    image: lscr.io/linuxserver/transmission:latest
    restart: unless-stopped
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Vilnius
      - USER=transmission-manager
      - PASS=/run/secrets/transmission_user_password
    volumes:
      - ./transmission/config:/config
      - ./downloads:/downloads
      - ./torrents:/watch
    secrets:
      - transmission_user_password

secrets:
  transmission_user_password:
    file: transmission_user_password.txt
