services:
  portainer:
    container_name: container-dashboard
    image: portainer/portainer-ee:2.33.5
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    ports:
      - 9443:9443
      - 8000:8000

  # openvpn-as:
  #   image: openvpn/openvpn-as
  #   container_name: vpn-access-server
  #   restart: unless-stopped
  #   devices:
  #     - /dev/net/tun:/dev/net/tun
  #   cap_add:
  #     - NET_ADMIN
  #     - MKNOD
  #   ports:
  #     - 943:943
  #     - 443:443
  #     - 1194:1194/udp
  #   volumes:
  #     - ./openvpn:/openvpn

  plex:
    container_name: media-server
    image: plexinc/pms-docker:1.42.2.10156-f737b826c
    restart: unless-stopped
    network_mode: host
    environment:
      - PLEX_UID=1000
      - PLEX_GID=1000
      - TZ=Europe/Vilnius
      - PLEX_CLAIM=claim-BMtUB_8d4xM8NB5Mz3yy
    volumes:
      - ./plex-media-server/config:/config
      - ./transcode:/transcode
      - /media/drive:/data

  transmission:
    container_name: torrent-client
    image: lscr.io/linuxserver/transmission:4.0.6
    restart: unless-stopped
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Vilnius
      - PASS=/run/secrets/transmission_user_password
    volumes:
      - ./transmission/config:/config
    secrets:
      - transmission_user_password

volumes:
  portainer_data:
    name: portainer_data
    external: true

networks:
  default:
    name: portainer_network

secrets:
  transmission_user_password:
    file: transmission_user_password.txt
